.heading{
    color: blue;
    text-align: center;
}

.leftParagraph{
    color: darkturquoise;
    text-align: left;
    font-style: italic;
    border: 2px solid royalblue;
}

.centerParagraph{
    color: darkolivegreen;
    text-align: center;
    font-weight: bold;
    border: 3px dotted coral;
}

#rightParagraph{
    color: darkmagenta;
    text-align: right;
    font-size: large;
    border: 4px dashed yellow;
}

